@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #161616;
  heading-color: #acacac;
  subheading-color: #acacac;
  subsubheading-color: #acacac;
  link-color: #acacac;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  padding: 10px;
}

